.gallery {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 920px) {
  .gallery {
    margin-top: 34px;
    row-gap: 18px;
  }
}
