.profile__edit {
  height: 24px;
  width: 24px;
  margin-left: 12px;
  background-color: var(--black);
  background-image: url(../../../images/profile/edit/edit.svg);
  cursor: pointer;
  border: none;
  transition: 0.5s opacity;
}

.profile__edit:hover {
  opacity: 60%;
  transition: 0.5s opacity;
}

@media screen and (max-width: 920px) {
  .profile__edit {
    height: 18px;
    width: 18px;
  }
}
