.profile__description {
  padding: 0px;
  margin-top: 10px;
  font-weight: 400;
  line-height: 22px;
  font-size: 18px;
  font-family: "Inter", Arial, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
}

@media screen and (max-width: 920px) {
  .profile__description {
    text-align: center;
    line-height: 17px;
    font-size: 14px;
  }
}
